/*? id/# */
    #clicker{
        display: flex;
        width: 70px;
        height: 70px;
        border-radius: 50%;
        margin: auto;
    }
    #UB1, #UB2{
        margin: 0 auto;
        border-radius: 5px;
    }
    #buttonContainer{
        display: flex;
        margin: auto;
    }
    #pmtable{
        margin: 3px auto;
    }
    #pmtable button{
        border-radius: 5px;
        width: 63px;
    }
    #restart{
        width: max-content;
        background-color: orange;
        border-radius: 6px;
        padding: 10px;
    }
    #restart svg{
        margin: 0 0 -6px 0;
    }
    #win{
        width: max-content;
        margin: 3rem auto;
        font-size:x-large;
        font-weight: 700;
    }
    #win #cool{
        margin-top: 10px;
        margin-bottom: -14px;
    }
    #VarValue{
        width: max-content;
        margin: auto;
    }
    #VarValue .VarValue{
        font-size: 13px;
        text-align: center;
        background-color: black;
        color: white;
        width: 110px;
        padding: 0px 8px;
        border: 2px solid grey;
        border-radius: 5px;
        display: inline-block;
    }
    #VarValue.VVDark .VarValue{
        font-size: 13px;
        text-align: center;
        background-color: white;
        color: black;
        width: 110px;
        padding: 0px 8px;
        border: 2px solid grey;
        border-radius: 5px;
        display: inline-block;
    }
/*? */
/*todo class/. */
    /** point */
        .container{
            display: flex;
            margin: auto;
            width: max-content;
            padding: 1rem;
            border-radius: 5px;
            font-weight: 550;
            font-size: x-large;
        }
        .container div{
            margin: auto;
        }
        .container div p{
            display: inline;
        }
    /** Upgrade */
        .upgrade{
            width: max-content;
            margin: auto;
        }
        .upgrade button{
            width: 130px;
            padding: 10px;
        }
    /** Light & Dark class */
        /** Dark */
            .Dark{
                background-color: rgb(20, 20, 20);
                color: white;
            }
            .btnDark{
                background-color: white;
                border: 5px solid rgb(20, 20, 20);
            }
        /** Light */
            .Light{
                background-color: white;
                color: rgb(30, 30, 30);
            }
            .btnLight{
                background-color: rgb(30, 30, 30);
                border: 5px solid white;
            }
        /** Body */
            .bodyD{
                background-color: rgb(20, 20, 20);
            }
            .bodyL{
                background-color: white;
            }
        /** Reedem */
        .ReedemD span, .ReedemD p, .ReedemD label,.ReedemD a:visited, .ReedemD a:hover, .ReedemD a{
            color: white;
        }
        .ReedemD input, .ReedemD button{
            color: rgb(30, 30, 30);            background-color: white;
        }
        .ReedemL span, .ReedemL p, .ReedemL label,.ReedemL a:visited, .ReedemL a:hover, .ReedemL a{
            color: rgb(30, 30, 30);        }
        .ReedemL input, .ReedemL button{
            color: white;
            background-color: rgb(30, 30, 30);        }
    /** hide */
        .hide{
            display: none;
        }
    /**  */
    .resD{
        width: max-content;
        margin: 10rem auto 0;
    }
    .centerD{
        width: max-content;
        margin: auto;
    }
/*todo */
/** not a specific thing */
    *{
        font-family: Verdana, Ubuntu, Geneva, Tahoma, sans-serif;
    }
    input{
        outline: none;
        padding: 5px;
    }
    footer{
        width: 100%;
        text-align: center;
        border-radius: 5px;
        padding: 10px 0;
        position: sticky;
    }
    footer a, footer a:visited, footer span{
        color: rgb(30, 30, 30);    }
    footer a:hover{
        color: grey;
    }
    footer.fdark a, footer.fdark a:visited, footer.fdark span{
        color: white;
    }
/** */
/*! media queries */
    @media (max-width: 400px) {
        #swapper{
            height: 30px;
            width: 40px;
            background: none;
            border: none;
            border-radius: 5px;
            position: relative;
            box-shadow: 0px 0px 3px rgb(128, 128, 128);
        }
    }
    @media (min-width: 401px) and (max-width: 700px) {
        #swapper{
            height: 30px;
            width: 40px;
            background: none;
            border: none;
            border-radius: 5px;
            position: relative;
            left: 40px;
            top: 30px;
            box-shadow: 0px 0px 3px rgb(128, 128, 128);
        }
    }
    @media (min-width: 701px) and (max-width: 1000px) {
        #swapper{
            height: 30px;
            width: 40px;
            background: none;
            border: none;
            border-radius: 5px;
            position: relative;
            left: 12%;
            top: 30px;
            box-shadow: 0px 0px 3px rgb(128, 128, 128);
        }
    }
    @media (min-width: 1001px){
        #swapper{
            height: 30px;
            width: 40px;
            background: none;
            border: none;
            border-radius: 5px;
            position: relative;
            left: 20%;
            top: 30px;
            box-shadow: 0px 0px 3px rgb(128, 128, 128);
        }
    }